*
!.github/
!.github/ISSUE_TEMPLATE/
!.github/ISSUE_TEMPLATE/new_shimeji.yaml
!.github/workflows
!.github/workflows/build.yaml
!shimeji/
!shimeji/*.yaml
!shimeji/*.png
!static/
!static/*.html
!.gitattributes
!.gitignore
!generate.ts
!lint.ts
!README.md
!submission_guidelines.md
